* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
}

html,
body {
    font-family: Loto, Montserrat, sans-serif;
    font-size: 24px;
}

.container {
    width: 100%;
    max-width: 1200px;
    background-color: rgb(226, 222, 217);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px;
    margin: 0 auto;
 
}

.services {
 
}

.lodo {
    width: 104px;
    background-color: rgb(172, 119, 54);
    border-radius: 50%;
}

.heading {
   align-self: center; 
}

.menu {
    background-color: rgb(255, 255, 255);
}

.navigation {
  width: 600px;
  margin-bottom: 90px;
}

.contact {
    font-weight: 500;
    font-style: italic;

}

.topmenu,
.submenu {
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-right: 8px;
    
}
 ul {
     list-style: none;
 }

.submenu,
.submenu-covert {
    display: none;
}

.submenu-title {
    position: relative;
}

.submenu-covert,
.submenu {
    position: absolute;
    left: 0;
    top: 100%;
    right: auto;
    white-space: nowrap; /*для чтого чтобы строка не преенослиась на следующую*/
}

.hidden {
    position: relative;
}

.hidden li>a,
.latent li>a,
.submenu-covert {
    text-transform: lowercase;
    font-style: italic;
}


.open {
    display: block;
    
}

.hidden:hover .submenu {
    display: block;
}

.latent {
  float: right;
  padding: 18px 0px;
 
}

li>a {
    text-decoration: none; 
    color: rgb(59, 57, 57);
}

.topmenu li>a:hover {
    background-color: rgb(238, 241, 19);
    border-bottom: 1px solid #2c2a2a;
}


.topmenu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 8px 8px;
    
}

.topmenu>a {
    transition: .4s ease-in-out;
}

.latent li a {
    border-bottom: 1px solid #bdb6b6;
    font-size: 18px;
    color: #484848;
    font-family: 'Kurale', serif;
 }

 .topmenu>li {
    position: relative;
 }

 .latent {
    position: absolute;
    left: 50%;
    top: 100%;
    width: 122px;
    background: #fafafa;
    border: 1px solid #ededed;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transform: scale(.8);
    transition: .4s ease-in-out;
 }
 .topmenu>li:hover .latent {
    visibility: visible;
    opacity: 1;
    transform: scale(1, 0.9);
    
 }
 .latent li a {
    text-align: center;
    padding: 2px 0;
    margin: 0px 34px;
 }

 .mission {
     width: 1200px;
     background-color: coral;
     display: flex;
     
 }

 .mission__networks {
    display: flex;
    flex-direction: column;
 }

 .mission__networks>i {
     padding: 8px;
     
 }

 .mission__description {
     margin: 2px 6px;
 }

 .icon {
     margin-left: 22px;
 }

 .mission__description {
     width: 400px;
 }

 .footer-info {
    width: 100%;
    max-width: 1200px;
    background-color: rgba(0, 0, 0, 0.575);
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    height: 100px;
    padding: 36px 12px;
    
 }
                           /*модальное окно*/

 .popup {  /*затемненный фон модалки*/
    cursor: pointer;
    background-color: rgb(0, 0, 0, 0.9);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
    opacity: 0;
    overflow-y: scroll;
    padding: 50px 15px;
    visibility: hidden;
 }

 .popup_active {
    visibility: visible;
    opacity: 1;
    z-index: 9999;
    transition: 0.3s;
 }

 .color_active {
     background-color: red;

 }


 .popup-link {
     border: 1px solid grey;
     color:rgb(32, 30, 30);
     text-decoration: none;
     padding: 2px 8px;
 }

 .footer-info>a {
     background-color: rgb(113, 235, 247);
 }

 .popup:hover {
     color:rgb(229, 230, 217);
 }

 .popup_body {
     display: flex;
     align-items: center;
     justify-content: center;
     min-height: 100%;
 }

 .popup_form {
     width: 400px;
     background-image: linear-gradient(to right, rgb(130, 130, 223) 0%, rgb(192, 107, 107) 43%, rgb(187, 60, 81) 50%);
     padding: 4px;
     box-shadow: 0 0 8px rgb(236, 213, 213);
     border-radius: 12px;
  
 }

 .popup_registration {
     font-size: 18px;
     display: flex;
     flex-direction: column;
     padding: 6px 6px;
 }

 .form_title {
     align-self: center;
     margin-bottom: 22px;
 }

 .form_name {
     width: 100%;
     padding: 6px 6px;
 }

 .name_person {
     width: 70%;
 }

  .registration_label {
     width: 20%;
 }

 .registration_form:not(:last-child) {   /*псевдокласс, который добавляет отступы между инпутами Б кроме послденего инпута */
     margin-bottom: 20px;
 }

.registration_form {
    width: 100%;
    display: flex;
}

.registration_group {  /*если отсут нужно дать разный между поледними элементами, то обЪединяют одинаковые классы с инпутами в отедельную обеортку и уже обертке задают margin-bottom*/
    margin-bottom: 12px;
}

.btn_form {
    margin: 0 auto;
    padding: 6px 34px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 32px;
    background-image: linear-gradient(to right, #88e9f0 0%, #115c75  51%, #79d6fa  100%);
    box-shadow: 0 0 12px #eee;
    border: none;
    transition: 0.6s;
    background-size: 200% auto;
    display: block;
}

.btn_form:hover {
    background-position: right center;
    color: #fff;
}

.submit {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 12px 0; /* если имеется тень, то добавляется падинг к родителю элемента, чтобы тень начиналась от кнопки и не налегала на ближайшие элементы */
}

.btn_submit {
    width: 50%;
}


